header,
h2,
.header-content {
  display: flex;
}
header {
  position: relative;
  height: 100vh;
  background-image: url("../../public/images/headerIMG.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.header-content {
  align-items: center;
  margin-bottom: 20%;
}
h1,
h2 {
  color: rgba(151, 71, 255, 1);
  text-transform: uppercase;
  margin: 0;
}

h2 {
  flex-direction: column;
  font-size: 4rem;
  border-left: 2px solid rgba(238, 222, 207, 1);
  padding-left: 20px;
}
h1 {
  font-size: 6.25rem;
  padding-right: 20px;
}
.header-content span {
  font-size: 2.5rem;
  font-family: "Anta";

  font-style: normal;
  color: rgba(238, 222, 207, 1);
}
@media (max-width: 920px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
}
@media (max-width: 690px) {
  h2,
  .header-content span {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 420px) {
  h2,
  .header-content span {
    max-width: min-content;
  }
}
