.carousel-link {
  text-decoration: none;
  display: inline-block;
  background-color: rgba(123, 123, 123, 0.15);
}
.carousel-images {
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 20px;
  justify-content: center;
  transition: transform 0.2s ease-out;
  margin: 0 auto; 
}
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(
    100vw - 200px
  ); /* Total bredd minus 100px padding på varje sida */
  max-width: 1555px;
  padding: 20px 0px;
}
.carousel:active {
  cursor: grabbing;
}
.carousel-image {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.hidden {
  display: none;
}
.right,
.left {
  width: 500px;
}
.center {
  width: 600px;
}

.right {
  right: -35px;
}
.left {
  left: -30px;
}

.carousel-slider {
  width: 40%;
  margin: 20px 0;
  -webkit-appearance: unset;
  background: rgba(238, 222, 207, 1);
  height: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.carousel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: rgba(151, 71, 255, 1);
  border-radius: 50%;
  cursor: pointer;
}

.carousel-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: rgba(151, 71, 255, 1);
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 920px) {
  .carousel {
    width: calc(100vw - 20px);
  }
  .center {
    width: 400px;
  }
  .left,
  .right {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .center {
    width: 250px;
  }
  .left,
  .right {
    width: 200px;
  }
}
